div.container {
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

div.gameboard {
    display: grid;
    grid-template-rows: repeat(11, 50px);
    border: 1px solid grey;
}

div.row {
    display: grid;
    grid-template-columns: repeat(11, 50px);
}


div.gameboard>div:nth-child(-n + 10) {
    border-bottom: 1px solid grey;
}

div.row>div:nth-child(-n + 10) {
    border-right: 1px solid grey;
}

.column-label, .row-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
}

.gameboard-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gameboard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
}

.ship {
    background-color: lightblue;
}

.bigger-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bigger-container > button {
    width: fit-content;
    align-self: center;
}

.turn {
    border: 2px solid firebrick !important;
}

.hit {
    position: relative
}

.miss {
    position: relative;
}

span {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

span.z::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    width: 2px;
    height: 150%;
    z-index: -1;
    background: firebrick;
    left: 50%;
    top: -25%;
    margin-top: 1px;
}

span.z::after {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    height: 2px;
    width: 150%;
    z-index: -1;
    background: firebrick;
    top: 50%;
    left: -25%;
    margin-left: -1px;
}

span.miss-dot { 
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #333;
}

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}